@import './base.css';

#app {
  width: 1000px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
  }
}

.title {
  text-align: center;
}

.btn-counter {
  width: 150px;
}

.action-block {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.text-center {
  font-size: 30px;
  font-weight: bold;
}

.btn-massive {
  margin-right: 25px;
}

.btn-massive:last-child {
  margin-right: none;
}

.task-border {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 25px;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.h4 {
  text-align: center;
}